<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Concursos</title>
</head>

<body>

  {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
          <div>
              {% for category, message in messages %}
                  <p class="flash-message {{ category }}">{{ message }}</p>
              {% endfor %}
          </div>
      {% endif %}
  {% endwith %}
  
  <h1>Lista de Concursos</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Data</th>
        <th>Banca</th>
      </tr>
    </thead>
    <tbody>
      {% for concurso in concursos %}
      <tr>
        <td>{{ concurso.id }}</td>
        <td>{{ concurso.nome }}</td>
        <td>{{ concurso.data }}</td>
        <td>{{ concurso.banca }}</td>
        <td>
          <a href="/editar/{{ concurso.id }}">Editar</a>
          <form action="/delete/{{ concurso.id }}" method="POST" style="display: inline;">
            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  

<form method="get">
  <input type="text" name="search" placeholder="Pesquisar concursos..." value="{{ request.args.get('search', '') }}">
  <button type="submit">Pesquisar</button>
</form>

  <!-- {% if concurso %}
    <p>Resultado</p>
    
  {% else %}
    <p> nenhum  concurso encontrado.</p>
  {% endif %} -->


<div>
  {% if concursos.has_prev %}
    <a href="{{ url_for('listar_concursos', page=concursos.prev_num, search=request.args.get('search')) }}">Anterior</a>
  {% endif %}
  <span>Página {{ concursos.page }} de {{ concursos.pages }}</span>
  {% if concursos.has_next %}
    <a href="{{ url_for('listar_concursos', page=concursos.next_num, search=request.args.get('search')) }}">Próxima</a>
  {% endif %}
</div>

  <a href="/cadastrar_concurso">Cadastrar novo Concurso</a>

  <a href="/logout">Sair</a>
</body>

</html>