<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Concursos</title>
</head>
<body>
    <form>
        <div>
           <label for="concurso_name">Nome do concurso</label>
           <input type="text" id="concurso_name" name="concurso_name" required>
        </div>
         <div>
            <label for="concurso_date">Data da prova</label>
            <input type="date" id="concurso_date" name="concurso_date" required>
        </div>
        <div>
            <label for="concurso_banca">Banca examinadora</label>
            <input type="text" id="concurso_banca" name="concurso_banca" required>
        </div>
       <button type="submit">Enviar</button>
    </form>   
</body>
</html>
